<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1> Input artists for recommended playlist:</h1>
    <a href="/artists"></a>
    <form action="/newPlaylist", method='POST'>
        <label for="artist1"> Artist #1:</label>
        <input type="text" name="artist1"> <br>
        <label for="artist2"> Artist #2:</label>
        <input type="text" name="artist2"> <br>
        <label for="artist3"> Artist #3:</label>
        <input type="text" name="artist3"> <br>
        <label for="artist4"> Artist #4:</label>
        <input type="text" name="artist4"> <br>
        <label for="artist5"> Artist #5:</label>
        <input type="text" name="artist5"> <br>
        <input type="submit" value="Create new playlist with recommended songs!">
    </form>
</body>
</html>